[Unit]
Description=Ampere Remote ECM USB
After=phosphor-ipmi-host.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ampere_usbnet.sh
ExecStop=/usr/sbin/remove.sh rndis

[Install]
WantedBy=multi-user.target
