[Unit]
Description= Trigger NMI via PLDM service
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
ExecStart=/usr/sbin/ampere_pldm_effecter_trigger.sh -s 0 NMITrigger
Type=oneshot
