[Unit]
Description=Updating MAC Address Service From FRU inventory
Wants=obmc-read-eeprom@system-chassis-motherboard.service
After=obmc-read-eeprom@system-chassis-motherboard.service

[Service]
ExecStart=/usr/sbin/ampere_update_mac.sh
SyslogIdentifier=ampere_update_mac.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
